////////////////////////// HEADER/NAVBAR //////////////////////////
.navbar-wrap {
  background-color: #fff;
  z-index: 900;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  @include respond-below(md) {
    width: 100%;
  }
}

.logo-link {
  display: block;
  margin:1rem 0;
  @include clamp('width', 112px, 30vw, 300px);
  @include clamp('padding-bottom', 36px, 10vw, 98px);
  position: relative;
  svg {
    width: 100%;
    height: auto;
    // max-height: 100%;
    pointer-events: none;
  }
  path {
    transition: 0.35s ease-out;
    transition-delay: 0.05s;
    fill: var(--page-color);
  }
  img {
    @include fillall;
    object-fit: contain;
  }
  &:hover {
    path {
      fill: lighten($blue, 4%);
    }
  }

  @media (max-width: 1024px) {
    padding-bottom: 0;
  }
}

ul.header-links {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  //manual vertical alignment with logo position
  padding-top: 2rem; 
  
  * {
    margin: 0;
    text-decoration: none;
  }

  > li {
    position: relative;
    padding: 0.65em 0;
    margin-right: 1.579em;//60px;//3.125vw;//

    &:last-child {
      margin-right: 0; //TODO alignment width max-width
    }
    &:first-child {
      //TODO margin-left: -1em;
      margin-right: auto;
    }

    &:hover,
    &:focus-within {
      .sub-menu {
        opacity: 1;
        pointer-events: initial;
        margin-top: 1.85rem;
        // visibility: visible;
        // margin-top: 0rem;
      }
    }

    @include bdy;
    font-family: $font-heading;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    // min-width: 3.81579em;
    > a {
      display: inline-block;
      color: $black;
      position: relative;
      white-space: nowrap;
    }
    //TODO
    // &.current-menu-item,
    // &.current-page-ancestor {
    // }
  }
}

.toggle-nav {
  display: none;
  background-color: transparent;
  margin: auto 0 auto auto;
  border: 0;
  // padding: 5px;
  width:  32px;
  height: 32px;

  position: absolute;
  right: 0;

  .hamburger {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > div {
      // position: absolute;
      // left: 50%;
      width: 29.16px; //21.87pt
      height: 4px;
      background-color: var(--page-color);
      border-radius: 2px;
      // transform: translateX(-50%);
      transition: all 0.25s ease;
      &:not(:first-child) {
        margin-top: 7.3px;
      }
    }
  }
  // &.clicked {
  //   .hamburger > div {
  //     &:nth-child(1) {
  //       transform: rotate(45deg) translate(4px, 4px);
  //     }
  //     &:nth-child(2) {
  //       width: 0;
  //       transform: translateX(8px);
  //     }
  //     &:nth-child(3) {
  //       transform: rotate(-45deg) translate(4px, -4.5px);
  //     }
  //   }
  // }
}