.drink-reviews {
  padding: 275px 0 400px;
  h2 {
    padding: 0 5rem;
    // @include heading-common();
    line-height: 0.8965;
    font-size: 145px;
    margin-bottom: max(1.5rem, 0.938em);
    max-width: 16em;
  }
  &-container {
    margin: 0 -26px; //-52px;
    // max-width: 1000px;
    padding: 0 5rem;
  }
  // .slick-track {
  //   margin: auto;
  // }
}


.drink-review {
  &.slick-slide {
    height: unset;
  }
  border-radius: $br-half;
  background-color: #fff;
  color: var(--page-color);
  padding: 64px 2.25rem 52px;
  margin: 0 26px;
  text-align: center;

  .title {
    font-size: 29px;
    line-height: 1.31; //38px;
    margin-bottom: 1rem;
  }
  p {
    font-family: $font-heading;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5833333;
    margin-bottom: 1rem;
  }
}
