#mobile-menu {
   position: absolute;
   top: var(--navbar-height);
   width: 100vw;
   background-color: #fff;
   z-index: 999;
   padding: 1.5rem 0 38px;

   &.loading {
      height: 0;
      overflow:hidden;
   }

   ul.mobile-links {
      list-style-type: none;
      padding-left: 0;
      
      .menu-item {
         font-family: $font-heading;
         font-size: 31px;
         font-weight: 700;
         line-height: 1.2;
         margin-bottom: 26px;
      }
   }

}