/** SHOP SEARCH **/
.shop-search {
  //  margin: 80px auto ;
  margin-top: 80px;
  // @include clamp(padding-top, 80px, calc(7.8431372549019605vw + 49.41176470588235px), 200px); //margin-bottom: 200px;
  @include clamp(padding-bottom, 80px, calc(7.8431372549019605vw + 49.41176470588235px), 200px); //margin-bottom: 200px;
  
   &:has(+ .drink-weed) {
      padding-bottom: 200px;
   }

   h2.title {
      margin-bottom: 90px;
      // font-family: ITC Avant Garde Gothic Std;
      // font-size: 76px;
      // font-weight: 700;
      @include clamp(font-size, 40px, calc(3.564356435643564vw + 26.099009900990104px), 76px);
      // line-height: 1.2;//91px;
      text-align: center;
   }
   form {
      display: flex;
      align-items: center;
      border-bottom: 2px solid lightgray;
      // padding-bottom: 0.5rem;
      margin-bottom: 90px;
      transition: 0.2s ease-out;
      padding-left: 2rem;
      &:has(input:focus) {
         border-color: $blue;
      }
      input {
         color: var(--page-color);
         outline: none; //!
         font-size: 2rem;
         font-weight: 500;
         &::placeholder {
            color: #B3B3B3;
         }
      }
   }
   .form-field:not(.submit-btn-wrap) {
      flex-grow: 1;
      input {
         border: none;
         width: 100%;
      }
   }
   .submit-btn-wrap {
      position: relative;
      input[type='submit'] {
         @include fillall;
         opacity: 0;
         color: #fff;
      }
      svg {
         max-width: 32px;
         max-height: 32px;
      }
   }
}

.shop-us-map-wrap {
   margin-top: 89px;
   img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
      object-position: top center;
   }

   .five-dots {
      position: absolute; //global
      // margin-left: calc(-50vw + 50%);
      // width: 100vw;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
   }
}

.zip-not-found {
   padding-bottom: 200px;
   text-align: center;
   p {
      @include bdy-lg;
      margin: 0 auto;
      max-width: 28em;
   }
   .btn-outlined {
      margin-top: 58px;
   }
}

/** SHOP MAP **/
#map-wrap {
   border-radius: 20px;
   overflow: hidden;
}
.mapboxgl-map,
#map-wrap {
  height: 600px;
}
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}
.cur-sp-marker {
  width: 60px;
  height: 60px;
  // background-color: red;
  border-radius: 50%;
  background-image: inline-svg(
    '<svg xmlns="http://www.w3.org/2000/svg" width="22" height="29"><path fill-rule="evenodd" fill="#FFF" d="M11 0c6 0 11 4.8 11 10.8 0 4.8-3.3 7.8-6.1 11.6L11 29l-5-6.6c-2.8-3.8-6-6.8-6-11.6C0 4.8 4.9 0 11 0zm0 6c2.7 0 4.9 2.1 4.9 4.8 0 2.7-2.2 4.7-4.9 4.7s-5-2-5-4.7a5 5 0 015-4.9z"/></svg>'
  );
  background-position: 50%;
  background-repeat: no-repeat;
}
.sp-marker {
  width: 60px;
  height: 60px;
  // background-color: $blue;
  border-radius: 50%;
  background-image: inline-svg(
    '<svg xmlns="http://www.w3.org/2000/svg" width="22" height="29"><path fill-rule="evenodd" fill="#FFF" d="M11 0c6 0 11 4.8 11 10.8 0 4.8-3.3 7.8-6.1 11.6L11 29l-5-6.6c-2.8-3.8-6-6.8-6-11.6C0 4.8 4.9 0 11 0zm0 6c2.7 0 4.9 2.1 4.9 4.8 0 2.7-2.2 4.7-4.9 4.7s-5-2-5-4.7a5 5 0 015-4.9z"/></svg>'
  );
  background-position: 50%;
  background-repeat: no-repeat;
}

/** SHOP NEARBY LCOATIONS **/
#shop-nearby-locations {
   
}
.shop-nearby-locations-wrap {
   margin-top: 148px;
}
.location-type-selector {
   display: flex;
   justify-content: center;
   gap: 1.5rem;//max(3vw, 1.5rem);
   margin-bottom: 80px;
   .btn {
      padding: 0.65em 1.2em 0.2em;
      color: var(--page-color);
      background-color: #fff0;
      font-weight: 700;
      border-radius: 1rem;
      border: 3px solid var(--page-color);
   }
   .btn:not(.selected) {
      transition: 0.25s;
      transition-delay: 0.05s;
      &:hover {
         background-color: var(--page-color)!important;
         color: #fff;
      }
   }
   .btn.selected {
      background-color: var(--page-color)!important;
      color: #fff;
   }
}
.locations-wrap {
   margin: 80px auto 0;
   padding-bottom: 200px;
   display: flex;
   flex-wrap: wrap;
   gap: 1.875rem;
   justify-content: center;
}
//   padding: 0 max(0.9375rem, min(0.5rem + 1.75vw, 2.4375rem));
// }
// .locations-wrap {
//   // .slick-arrow { //colored section
//   //   path {
//   //     fill: $blue;//!important;
//   //   }
//   //   path:first-child {
//   //     fill: #fff;
//   //   }
//   // }
//   .slick-list {
//     padding: 3rem 0;
//   }
// }
.location {
   &-card {
      flex: 1 0 calc(33.33% - 2 * 1.875rem / 3);
      max-width: calc(33.33% - 2 * 1.875rem / 3);
      background-color: var(--page-color);
      color: #fff;
      border-radius: 20px;
      padding: 60px;//5rem 1rem;//6%;
      // margin: 0 1rem; //TODO parent margin adjustment
      text-align: center;
      display: flex!important;
      flex-flow: column;
      justify-content: center;
      .btn-outlined {
         margin-top: 22px;
         // align-self: center;
         width: 100%;
         // text-align: center;
         color: #fff;
         border: 3px solid #fff;
         padding: 0.65em 2em 0.3em;
      }
   }
   &-distance {
      font-size: 48px;
      line-height: 1;//0.7;
      font-weight: 500;
   }
   &-name {
      // @include title;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.3;
      margin-bottom: 22px;
   }
   &-type,
   &-addr {
      margin-bottom: 0;
      font-size: 500;
      font-size: 26px;
      line-height: 1.3;
   }
}


/** HI5 NEAR ME **/
.near-me {
  position: relative;
  text-align: left;

  .circle-lined {
    position: absolute;
    top: 0;
    width: auto;
    // height: 350px;
    @include clamp(
      height,
      160px,
      calc(18.81188118811881vw + 86.63366336633663px),
      350px
    );
  }
  > .circle-lined {
    left: 0;
    margin-left: calc(-50vw + 50%);
    transform: translateX(-40%);
  }
  .three-waves {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: calc(-50vw + 50%);
    transform: translateX(50%);
  }
  .five-dots {
    position: absolute;
  }
  .five-dots:nth-last-child(9) {
    position: absolute;
    top: 4px;
    right: 0;
  }
  .five-dots:nth-last-child(8) {
    bottom: 1rem;
    left: 0;
    transform: rotate(-90deg);
  }

  .d-md-flex {
    gap: 4%;
    > * {
      // flex: 0 0 48%;
      flex-grow: 0;
    }
  }
  .is-2 {
    @include clamp(
      font-size,
      45px,
      calc(3.0693069306930694vw + 33.02970297029703px),
      76px
    );
    margin-bottom: max(1rem, 0.6em);
  }
  p {
    @include clamp(
      font-size,
      20px,
      calc(1.188118811881188vw + 15.366336633663366px),
      32px
    );
    max-width: 36.625rem;
    margin-left: 0;
  }
  img {
    @include clamp(
      margin-top,
      45px,
      calc(3.0693069306930694vw + 33.02970297029703px),
      76px
    );
    border-radius: 50%;
    width: 570px;
    height: 570px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    @media (max-width: 1400px) {
      max-width: 450px;
      max-height: 450px;
    }
    @media (max-width: 1200px) {
      $amt: 16vw;
      // max-width:  calc(#{$amt} + 375px);
      // max-height:  calc(#{$amt} + 375px);
      margin-right: calc(#{$amt} * -1); //4vw + 50%);
    }
  }
  &-img {
    @include bg;
    position: relative;
    margin: 0 auto;
    // height: 0;
    // padding-bottom:543px; //TODO screenreader
    .circle-lined {
      display: none;
      left: 25%;
    }
  }
  @media (min-width: 1400px) {
    .five-dots:nth-last-child(9) {
      @include clamp(
        margin-top,
        45px,
        calc(3.0693069306930694vw + 33.02970297029703px),
        76px
      );
    }
  }
  @media (max-width: 1400px) {
    .five-dots:nth-last-child(9) {
      margin-right: calc(-50vw + 50%);
      right: -0.75rem;
    }
    .five-dots:nth-last-child(8) {
      margin-left: calc(-50vw + 50%);
      left: -0.75rem;
    }
  }
  @include respond-below(md) {
    &-content {
      padding-top: 74px;
      padding-bottom: 10rem;
    }
    .five-dots:nth-last-child(8) {
      display: none;
    }
    .three-waves {
      transform: translateX(70%);
      bottom: 2rem;
    }
    > .circle-lined {
      display: none;
    }
    &-img {
      .circle-lined {
        display: block;
      }
    }
    img {
      $amt: 25vw;
      max-width: unset; //calc(#{$amt} + 375px);
      max-height: unset; //calc(#{$amt} + 375px);
      max-width: min(100vmin, 580px);
      max-height: min(100vmin, 580px);
      margin-right: 0;
      margin-left: calc(#{$amt} * -1); //4vw + 50%);
    }
  }
}


// .cb-locations {
//   padding: 100px 0;
// }

// .location-type-selector {
//   gap: 1.5rem;
//   display: flex;
//   justify-content: center;
//   margin-bottom: 80px;
//   button {
//     transition: 0.35s;
//     color: #fff;
//     &.selected {
//       &:hover {
//         background-color: var(--page-color);
//         color: #fff;
//       }
//     }
//     &:not(.selected) {
//       // color: gray;
//       filter: saturate(10%);
//       &:hover {
//         background-color: var(--page-color);
//         color: #fff;
//         // color: lighten($blue, 4%); //TODO var(--page-color))
//         filter: saturate(100%); // brightness(110%); //TODO var(--page-color))
//         transform: translateY(-3px) scale(1.04);
//       }
//     }
//   }
// }


// .loc-card {
//   margin: 0 max(0.5rem, min(2.75rem, 1.82vw));
//   &.slick-slide {
//     display: flex;
//   }
//   border-radius: 2.625rem;
//   color: #fff;
//   background-color: var(--page-color);
//   color: #fff;
//   display: flex;
//   flex-direction: column;
//   padding: 45px;
// }



// body.shop {
// }