/***
 * SECTION 1
 *
 */

// Single Hero
.drink-slider {
  //!inner-wrap-x margin: 0 auto;
  // max-width: 78.4375rem;

  @include clamp(padding-bottom, 80px, calc(7.8431372549019605vw + 49.41176470588235px), 200px); //margin-bottom: 200px;
  @include clamp(padding-top, 62px, calc(5.751633986928105vw + 39.5686274509804px), 150px);

  // &-container { }
  > .d-flex > svg,
  > svg {
    @include section-full;
    position: absolute;
    path {
      fill: $red;
    }
  }
  .circle-lined {
    right: 0;
  }
}

.drink-slide {
  &.slick-slide {
    display: flex;
  }
  @include respond-below(md) {
    flex-wrap: wrap;
    // align-items: flex-start;
    // justify-content: flex-start;
    > * {
      width: 100%;
    }
    .drink-slide-content p {
      max-width: unset;
    }
  }
  justify-content: center;
  align-items: center;
  column-gap: 80px; //max(1.5rem, min(80px, 4vw));
  row-gap: 1rem; //max(1.5rem, min(80px, 4vw));
  &-img {
    @include bg(contain);
    background-size: contain;
    border-radius: 50px;
    //  padding-bottom: 800px;
    aspect-ratio: 5.35 / 8.08;
    width: 535px;
    max-width: 535px;
    // flex: 1 1 45.54%;
    @media (max-width: 768px) {
      width: min(80%, 535px);
      max-width: min(80%, 325px);
      margin-left: 0;
    }
  }
  &-content {
    // max-width: 40rem;
    // flex: 1 1 54.46%;
    h1.title {
      font-size: 62px;
      line-height: 1.1;
      margin-bottom: 2rem;
      &:has(+ .title) {
        margin-bottom: 0;
      }
    }
    h2.title {
      font-size: 38px;
      margin: 2rem 0;// 1.5rem 0;
    }
    a[class*='btn'] {
      display: inline-block;
      margin: max(1rem, 1.2em) 0;//42px 0;
    }
    p {
      @include bdy-lg(500);
      @include clamp(font-size, 20px, calc(0.7843137254901961vw + 16.941176470588236px), 32px);
      max-width: 40rem;
    }
  }
}

//TODO -> btn-outlined global application
.dsbtn-outlined {
  color: var(--page-color);
  font-weight: 700;
  @include clamp(font-size, 25px, calc(0.8496732026143791vw + 21.686274509803923px), 38px);
  text-decoration: none;
  border: 6px solid var(--page-color);
  border-radius: 20px;
  text-align: center;
  line-height: 1;
  // width: 280px;
  padding: 0.61325em 0.965em 0.41325em; //89 height on single hero (desktop)
  transition: 0.35s ease-out;
  &:hover {
    color: #fff;
    background-color: var(--page-color);
  }
}
.section-colored {
  .dsbtn-outlined {
    background-color: var(--page-color);
    color: #fff;
    &:hover {
      color: var(--page-color);
      background-color: #fff;
    }
  }
}

.back-btn-wrap {
  margin-bottom: 1.875rem;
  path:first-child {
    fill: var(--page-color);
  }
  a {
    // font-family: ITC Avant Garde Gothic Std;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;//34px;
    // letter-spacing: 0em;
    // text-align: center;
    text-decoration: none;
    color: var(--page-color);
    &:hover {
      text-decoration: none;
    }
  }
  @media (max-width: 768px) {
    margin-bottom: 0; //due to image imp padding
  }
}




/***
 * SECTION 2
 *
 */
.drink-properties {
  &-content {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .slick-list {
    //TODO overflow-x: visible;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .slick-track {
    align-items: flex-end;
  }
}
*[class^=drink-attrs] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.drink-attr {
  // flex: 0 0 33.3333%;
  min-width: 100px;
  display: flex!important;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #fff;
  // order: 6; //by 2s
  // img {
  //   max-width: 10rem;
  // }
  // &:nth-child(n + 4) {
    // max-width: 6rem;
    justify-content: center;
    // order: 7;
    img {
      max-width: 4rem;
      height: auto;
      margin: 0 auto;
    }
  // }
  // &:nth-child(1) { order: 1; }
  // &:nth-child(4) { order: 2; }
  // &:nth-child(2) { order: 3; }
  // &:nth-child(5) { order: 4; }
  // &:nth-child(3) { order: 5; }
  p {
    margin-top: 2rem;
    color: #fff;
    text-align: center;
  }
}
.drink-attrs-secondary {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5rem;
  
  gap: 1rem;
  align-items: flex-start;
  .drink-attr {
    flex: 1 0 calc(33.33% - 1rem);
    p {
      width: min-content;
    }
  }
  @media (max-width: 600px) {
    display: none;
  }
}
.drink-attrs-primary {
  @media (max-width: 1024px) {
    @include section-full;
  }
  @media (min-width: 1025px) {
    .slick-list,
    .slick-track {
      width: 100%!important;
      display: flex;
      justify-content: space-between;
    }
    display: flex;
    gap: max(1.5rem, 6.5vw);
    justify-content: space-between;
    max-width:1024px;
    margin: 0 auto;
  }
  .drink-attr {
    // min-width: 300px;
    img {
      flex-grow: 1;
      max-width: 10rem;
    }
  }
}





/**
 *
 */

/***
 * SECTION 2
 *
 */
// .drink-weed,
.drink-description {
  &-content {
    @include clamp(padding-top, 90px, calc(7.8431372549019605vw + 59.41176470588235px), 210px);
    @include clamp(padding-bottom, 90px, calc(7.8431372549019605vw + 59.41176470588235px), 210px);
  }
  position: relative;
  &-content {
    text-align: center;
    // *[class*=btn] {
    //   display: inline-block;
    // }
  }

  .title {
    text-transform: lowercase;
    width: 0;
    line-height: 1;//0.9em;
    margin-bottom: 70px;
    @include clamp(font-size, 75px, calc(4.57516339869281vw + 57.15686274509804px), 145px);
  }
  p {
    @include bdy-lg(500);
    margin: 0 auto;
  }
  *[class*=btn] { //TODO
    width: max-content;
    margin: 4rem auto 0;
    display: inline-block;
  }

  .three-waves {
    // @include clamp(top, 90px, calc(7.8431372549019605vw + 59.41176470588235px), 210px);
    @include clamp(top, 0px, calc(65.625vw + -1050.0px), 210px);
    transform: translateX(-50%);
  }
  .five-dots {
    @include section-full;
    left: calc(100% + ((100vw - 1280px) / 2));
    bottom: 50%;
    transform: translateY(50%) rotate(180deg) scaleX(-1);
  }


  @media(max-width: 1600px) {
    .three-waves {
      transform: translateX(-75%);
    }
    .five-dots {
      transform: translateY(100%) rotate(180deg) scaleX(-1);
      left: unset;
      right: 1rem;
    }
  }
  @include respond-below(lg) {
    .five-dots {
      @include clamp(bottom, 90px, calc(7.8431372549019605vw + 59.41176470588235px), 210px);
      transform: translateY(100%) rotate(180deg) ;
    }
  }
  @media (max-width: 768px) {
    .title {
      margin-bottom: 1.875rem;
    }
  }
  @media (min-width: 577px) {
    p { text-align: center; }
  }
  @include respond-below(sm) {
    *[class*=btn] { margin-left: 0; }
  }
}



/**
 *
 */
.drink-reviews {
  &-content {
    padding: 100px 0 200px;
  }
  h2 {
    // @include heading-common();
    line-height: 0.8965;
    font-size: 145px;
    margin-bottom: max(1.5rem, 0.938em);
  }
  &-container {
    margin: 0 -0.5rem; //-52px;
    // max-width: 1000px;
    // padding: 0 5rem;
  }
  // .slick-track {
  //   margin: auto;
  // }
  
  //TODO
  // .slick-prev {
  //   transform: translate(-100%, -50%);
  // }
  // .slick-next {
  //   transform: translate(100%, -50%);
  // }

  .five-dots {
    path {
      fill: #fff; //TODO should be auto
    }
  }
}

.drink-review {
  &.slick-slide {
    height: unset;
  }
  border-radius: $br-half;
  background-color: #fff;
  color: var(--page-color);
  padding: 64px 2.25rem 52px;
  margin: 0 0.5rem;
  text-align: center;

  .title {
    font-size: 29px;
    line-height: 1.31; //38px;
    margin-bottom: 1rem;
  }
  p {
    font-family: $font-heading;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5833333;
    margin-bottom: 1rem;
  }
}



/** Waves
 *
 */
.section-colored,
.drink-reviews,
.drink-properties {
  position: relative;

  > svg:nth-last-child(6),
  > svg:nth-last-child(5),
  > svg:nth-last-child(4),
  > svg:nth-last-child(3),
  > svg:nth-last-child(2),
  > svg:nth-last-child(1) {
    @include cover;
    @include bg;
    z-index: 0;
    path:first-child {
      fill: var(--page-color);
    }
  }
  > svg:nth-last-child(6) { 
    top: calc((334 * -100vw / 3151) + 1px);
    height: calc(334 * 100vw / 3151);
  }
  > svg:nth-last-child(5) {
    top: calc((331 * -100vw / 1920) + 1px);
    height: calc(331 * 100vw / 1920);
  }
  > svg:nth-last-child(4) {
    top: calc((90 * -100vw / 390) + 1px);
    height: calc(90 * 100vw / 390);
  }
  > svg:nth-last-child(3) { 
    bottom: calc((334 * -100vw / 3151) + 1px);
    height: calc(334 * 100vw / 3151);
  }

  > svg:nth-last-child(2) {
    bottom: calc((226 * -100vw / 1920) + 1px);
    height: calc(226 * 100vw / 1920);
    z-index: 0;
  }
  > svg:nth-last-child(1) {
    bottom: calc((53 * -100vw / 390) + 1px);
    height: calc(53 * 100vw / 390);
  }
  > svg:nth-last-child(3),
  > svg:nth-last-child(2),
  > svg:nth-last-child(1) {
    top: unset;
  }
  @media (min-width: 1921px) { //TODO aspect ratio of screen; upadte home.scss .drink-weed
    margin-top: calc(390 * 100vw / 3151);
    margin-bottom: calc(390 * 100vw / 3151);
    > svg:nth-last-child(5),
    > svg:nth-last-child(4),
    > svg:nth-last-child(2),
    > svg:nth-last-child(1) {
      display: none;
    }
  }
  @media (max-width: 1920px) and (min-width: 601px) {
    margin-top: calc(331 * 100vw / 1920);
    margin-bottom: calc(226 * 100vw / 1920);
    > svg:nth-last-child(6),
    > svg:nth-last-child(4),
    > svg:nth-last-child(3),
    > svg:nth-last-child(1) {
      display: none;
    }
  }
  @media (max-width: 600px) {
    margin-top: calc(90 * 100vw / 390);
    margin-bottom: calc(53 * 100vw / 390);
    > svg:nth-last-child(6),
    > svg:nth-last-child(5),
    > svg:nth-last-child(3),
    > svg:nth-last-child(2) {
      display: none;
    }
  }
}
.single-drink { //TODO
  .section-colored,
  .drink-reviews,
  .drink-properties {
    @media (min-width: 1921px) {
      margin-top: calc(334 * 100vw / 3151);
      margin-bottom: calc(225 * 100vw / 3151);
    }
  }
}

// .single-post {
.single-drink {
  .title {
    .is-1 {}
  }
  h1 {
  }
  h2 {
  }
  h3 {
  }
  h4 {
  }
  h5 {
  }
  h6 {
  }

  .wp-block-list {
    padding-left: 0;
  }
}



@media (max-width: 768px) {
}