.single-location {
   text-align: center;
   color: var(--page-color);
   &-img {
      // margin: 0 auto;
      margin: 80px 0 70px;
   }
   &-tagline {
      @include clamp(font-size, 24px, calc(1.1764705882352942vw + 19.411764705882355px), 42px);
      font-weight: 600; //demi
      margin-bottom: max(1.5rem, 1em);
   }
   &-types {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin: 1rem auto;
      @include clamp(margin-bottom, 40px, calc(3.9215686274509802vw + 24.705882352941174px), 100px);
   }
   div.btn {
      color: #fff;
      background-color: var(--page-color);
   }
   //&-descr {
   &-default-content {
      > p:not(.single-location-tagline){
         @include clamp(font-size, 20px, calc(0.7843137254901961vw + 16.941176470588236px), 32px);
         font-weight: 500;
         max-width: 32em;
         margin: 0 auto;
      }
   }
   iframe {
      max-width: 1280px; //match .inner-wrap (normal) max-width
      width:100%;
      aspect-ratio: 600 / 450;
      aspect-ratio: 1280 / 722;
      @include clamp(margin-top, 30px, calc(5.88235294117647vw + 7.058823529411768px), 120px);
   }
   .wp-block-buttons:last-child {
      margin-bottom: 120px;
      display: flex;
      justify-content: center;
   }

   //.main-content-wrap > 
   svg { 
      transition: opacity 0.2s ease-out;
      path {
         fill: var(--page-color);
      }
   }
   .three-waves {
      top: calc(150px + 3.5vw);
      left: 0;
      @include clamp(width, 294px, calc(15.104166666666666vw + 178.0px), 468px);
      transform: translate(-50%, -50%);
      
   }
   
   .five-dots:nth-last-child(3) {
      top: 40%;
      // left: min(192px, max(1.875rem, 9.375%)); //match .main padding above 992px
      // transform: translateX(-100%) rotate(180deg);
      right: calc(100vw - min(192px, max(1.875rem, 9.375%))); //match .main padding above 992px
      transform: translateX(-75%) rotate(180deg);
      
   } 
   .five-dots:nth-last-child(2) {
      top: 20%;
      right: min(192px, max(1.875rem, 9.375%)); //match .main padding above 992px
      transform: translateX(100%);
   } 
   .circle-lined { //TODO smaller width screens
      top: 45%;
      right: 0;
      // @include clamp(width, 155px, calc(12.745098039215685vw + 105.29411764705884px), 350px);
      @include clamp(width, 155px, calc(16.927083333333336vw + 25.0px), 350px);
      transform: translateX(22%) rotate(-105deg);
   }

   @include respond-below(lg) {
      .circle-lined {
         display: none;
      }
   }
   @include respond-below(md) {
      // .five-dots:nth-last-child(2) {
      //    right: max(1.875rem, 4vw); //match .main padding <= 992px
      // }
      .five-dots:nth-last-child(2),
      .three-waves { opacity: 0; }
   }
   @include respond-below(sm) {
      &-default-content > p:not(.single-location-tagline){
         text-align: left;
         margin-left: 0;
         margin-right: 0;
      }
   }
}