@import './reset';
// @import './bootstrap';
// @import './util';
// @import './tailwind';

:root {
  --navbar-height: 96px;
  --white: #fff;
  --black: #000;
  --color-primary: #420fe7;
  --color-accent: #420fe7;
} //TODO dark

/** extract from design file **/
$color-primary: #420fe7;
$color-accent: #420fe7;
$font-color: #000;
$card-border-radius: 0.5rem;
$btn-border-radius: 0.5rem;
$box-shadow: 0 0 40px rgb(0, 0, 0, 0.2);

// $colors: (
//    primary: var(--color-primary),
// ); @each

@mixin heading-common($fw: 700) {
  font-weight: $fw;
  line-height: 1.2;
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.title,
*[class*='.is-style-title-is-'] {
  @include heading-common;
}

@mixin hdl1() {
}
@mixin bdy() {
  font-size: 1rem;
  line-height: 1.5;
}
@mixin bdy-lg() {
  @include bdy;
  font-size: 1.5rem;
}

@mixin btn() {
  $border-radius: $btn-border-radius;
}

// @each $key, $color in $colors {
//    .btn--#{key} {
//       background-color: $color;
//    }
// }

.main-content-wrap {
  position: relative;
  flex-grow: 1;
  //   background-color: #fff;
}
.main {
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  position: relative;
  //   @include respond-below(lg) {
  //     padding: 0 max(1.875rem, 4vw);
  //   }
}
.inner-wrap {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
.fillall {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-full {
  margin-left: calc(-50vw + 50%);
  margin-left: calc(-50vw + 50%);
  max-width: 100vw;
}
.site-footer {
}
.site-header {
}
.navbar {
}

html,
body,
#__next {
  height: 100%;
  max-width: 100vw;
}

body,
#__next {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.page-hero {
  &-img {
  }
  &-content {
  }
}
