@import 'styles/_common';
@import 'styles/_io';


html { background-color: var(--page-color); }

.creator-link {
  $cl-color: lighten($blue, 5%);
  color: $cl-color;
  text-align: center;
  font-size: 8px;
  margin: 100px 0 8px;
  a {
    color: $cl-color;
    text-decoration: none;
    &:hover {
      color: $cl-color;
    }
  }
}

/** if wpadminbar is fixed */
// .logged-in {
//    .navbar-wrap {
//       margin-top: 32px !important;
//       @media screen and (max-width: 782px) {
//          margin-top: 46px !important;
//       }
//    }
//    #mobile-menu {
//       margin-top: 32px !important;
//       @media screen and (max-width: 782px) {
//          margin-top: 46px !important;
//       }
//    }
// }


@import 'styles/__dev'; //TODO rm

//TODO
.page-default-content,
.single-post-default-content
.single-location-default-content
{
  > *:not(.section-colored)+*:not(.section-colored) {
    padding-top: 0;
  } 
}