$font-heading: 'ITC', sans-serif;
$font-body: $font-heading;

@mixin clamp(
  $property,
  $min-size,
  $scaler,
  $max-size,
  $min-size-left: false,
  $scaler-left: false,
  $max-size-left: false
) {
  @if $min-size-left == false {
    #{$property}: $max-size;
    #{$property}: #{'min(max(#{$min-size}, #{$scaler}), #{$max-size})'};
    #{$property}: clamp($min-size, $scaler, $max-size);
  } @else if $min-size-left == 0 or $min-size-left == auto {
    #{$property}: $max-size $min-size-left;
    #{$property}: #{'min(max(#{$min-size}, #{$scaler}), #{$max-size})'}
      $min-size-left;
    #{$property}: clamp($min-size, $scaler, $max-size) $min-size-left;
  } @else {
    #{$property}: $max-size $min-size-left;
    #{$property}: #{'min(max(#{$min-size}, #{$scaler}), #{$max-size})'}
      #{'min(max(#{$min-size-left}, #{$scaler-left}), #{$max-size-left})'};
    #{$property}: clamp($min-size, $scaler, $max-size)
      clamp($min-size-left, $scaler-left, $max-size-left);
  }
}

@mixin heading-common() {
  font-family: $font-heading;
  font-weight: 700;
  line-height: 1.2;
}
@mixin t1() {
  //drink weed home headline
  @include heading-common();
  @include font-size(128px); //154 //145? //TODO
}

@mixin t2() {
  //email heading
  @include heading-common();
  //@include font-size(76px); //91
  @include clamp('font-size', 45px, calc(4.275862068965517vw + 28.96551724137931px), 76px);
}
@mixin t3() {
  //footer link
  @include heading-common();
  @include font-size(36px); //43
}
@mixin bdy-lg($fw: 400) {
  font-family: $font-heading;
  @include clamp('font-size', 20px, calc(1.170731707317073vw + 15.609756097560975px), 32px);
  line-height: 1.5;
  font-weight: $fw;
}
.bdy-lg { @include bdy-lg; }
@mixin bdy($fw: 400) {
  font-family: $font-heading;
  @include font-size(18px);
  line-height: 1.5;
  font-weight: $fw;
}
.bdy { @include bdy; }

.title {
  @include heading-common();

  &.is-1 {
    @include t1;
  }
  &.is-2 {
    @include t2;
  }
  &.is-3 {
    @include t3;
  }
  // &.is-4 { @include t4; }
}
