:root {
  --navbar-height: 89px; //about-us
  --page-color: #006faa; //blue
}

$blue: #006faa;
//TODO
$blue70: #006faa;
$bg3: #006faa;
$blue-dark: #006faa;
$yellow: #006faa;
$black: #006faa;

$yellow: #fcbc49;
$darkred: #611b1d;

// Variables - Miscellaneous
$br: 50px; //border-radius
$br-half: 1.5rem;
$box-shadow: 0px 4px 4px #46506033;
$btn-border-radius: 35px; //! 35px 35px 35px;
$color-primary: $blue;
$color-secondary: $blue-dark;
$color-accent: $yellow;
$font-color: $black; //#000;

@for $i from 1 through 6 {
  .bg#{$i} {
    background-color: var(--bg-0#{$i}) !important;
  }
}
